<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <!--Title-->
        <%= title %>
    </title>

    <!--Linking the CSS file-->
    <link rel="stylesheet" href="">
</head>
<body>

    <!--Main container-->
    <div class="main-contianer">
    
        <!--Heading-->
        <div class="heading">
            <h1>TODO App</h1>
        </div>
        <!--Heading End-->

        <!--Creating Todo-->
        <div class="form-container">
            <form action="/create-task" class="main-task" id="task-form" method="POST">
                <div class="description">
                    <label for="description">Description</label>
                    <input type="text" name="description" id="#description" placeholder="What do you need to do?" required>
                </div>

                <!--for category -->
                <div class="categoryy">
                    <div class="category hover">
                        <label for="category">Category</label>
                        <select name="category" id="#ctegory" required>
                            <option value="">Choose a  category</option>
                            <option value="work">Work</option>
                            <option value="school">School</option>
                            <option value="personal">Personal</option>
                            <option value="other">Other's</option>
                        </select>

                    </div>
                    <!--for date-->
                    <div class="date">
                        <label for="date">Due Date</label>
                        <input type="date" name="date" id="#date" required>

                    </div>
                </div>
            </form>
        </div>
        <!--End of creating todo-->

        <!--different action buttons-->
        <div class="action">
            <button class="btn add" type="submit" form="task-form">
                <i class="fas fa-plus"></i>Add Task
            </button>
            <!--delete button-->
            <button class="btn delete" type="submit" form="delete-form"> 
                <i class="fas fa-trash-alt"></i>Delete Tasks
            </button>
        </div>
        <!--End of action buttons-->

        <!--Task container-->
        <div class="tasks-container">
            <form action="/delete-task" method="post" id="delete-form">
                <% for(let task of tasks){ %>
                <div class="task border-bottom">
                    <input type="checkbox" name="task" value="<%= task._id %>" >
                    <div class="task-detail">
                        <p class="desc"><%= task.description %></p>
                        <span class="due-date">
                            <i class="fas fa-calendar"></i> <%= task.dueDate.toLocaleDateString("en-US", { year: 'numeric', month: 'short', day: 'numeric' }) %>
                        </span>
                    </div>
                    <div class="task-category <%= task.category %>">
                        <%= task.category %>
                    </div>
                    <div class="delete-task">
                        <a href="/delete-task/<%= task._id %>"><i class="fas fa-trash"></i></a>
                    </div>
                </div>
                <% } %>
            </form>
        </div>
      <!--End of task container-->

    </div>
    <!--End of main container-->
</body>
</html>